body {
  background-color: #1b1c1d !important;
  height: 100vh;


  .marge {
    margin-left: 3%;
    margin-right: 3%;
  }
  .mainMarge {
    margin-left: 0% !important;
    margin-right: 0% !important;
    width: 100% !important;
  }
  .labelMargin {
    margin: 0.2em !important;
  }

  .mySegmentBorder {
    border: 1px solid white !important;
  }
  .myStep {
    width: 300px !important;
    margin-right: 1em !important;
  }
  .very.basic.segment {
    border: none !important;
  }

  .selectable:hover {
    cursor: pointer !important  ;
  }
  .selectable.segment:hover {
    box-shadow: 0px 0px 6px rgb(255, 255, 255) !important;
  }
  .selectable.nosegment:hover {
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0) !important;
  }

  .myRaised{
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);
  }




  .segment.blackBG {
    background-color: #1b1c1d !important;
  }

  .inputBorder {
    border: 1px solid #555 !important;
  }
  .inputLeftPadding {
    padding-left: 0.5em !important;
  }
  .inputBottomMargin {
    margin-bottom: 0.5em !important;
  }

  .textVerticaleAlignThirty {
    height: 30px;
    line-height: 30px;
  }

  .borderRadiusZeroFive {
    border-radius: 0.5em 0.5em !important;
  }
  .borderRadiusTopZeroThree {
    border-radius: 0.3em 0.3em 0em 0em !important;
  }
  .borderRadiusLeftZeroThree {
    border-radius: 0.3em 0em 0em 0.3em !important;
  }
  .marginZeroFive {
    margin: 0.5em;
  }
  .leftMarginAuto {
    margin-left: auto !important;
  }
  .rightMarginAuto {
    margin-right: auto !important;
  }
  .littleMargin {
    margin: 0 1em !important;
  }

  .paddingOne {
    padding: 1em !important;
  }
  .white {
    color: #fff;
  }

  .minHeigthHundred {
    min-height: 100vh !important;
  }
  .applicationMenuTop {
    height: 5vh !important;
    z-index: 200;
    box-shadow: 0px 0.5px 5px rgb(136, 136, 136) !important;
  }
  .applicationContentTop {
    min-height: 95vh !important;
    bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .searchMenu a.result {
    max-height: 100px !important;
  }
  .searchMenu {
    min-width: 300px !important;
  }

  .inline {
    display: flex !important;
  }
  .text.inline {
    color: #555;
  }
  .large {
    font-size: large;
  }
  .bold {
    font-weight: bold;
  }

  .selectAvatar {
    width: 100% !important;
    min-height: 100px !important;
  }

  img.little {
    width: 25px !important;
  }

  .myScrollable {
    overflow: auto !important;
    scroll-padding: 1em !important;
    width: max-content !important;
  }
  .myScrollableY {
    overflow-y: auto !important;
    scroll-padding: 1em !important;
    height: max-content !important;
  }
  .myScrollableX {
    overflow-x: auto !important;
    scroll-padding: 1em !important;
    width: max-content !important;
  }

  .ui.overlay {
    background-color: #000000;
    width: auto;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
  }
  /* change style */
  .ui.overlay.fixed {
    position: absolute;
    top: 15em !important;
    width: auto;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
  }

  .ui.vertical.inverted.tabular.menu {
    .active.item {
      border: 1px solid;
      background-color: rgba(85, 85, 85, 0) !important;
      border-right-color: #1b1c1d !important;
    }
    .active.item:hover {
      background-color: #777 !important;
    }
  }

  .hidden {
    visibility: hidden !important;
  }

  .bgProject {
    background-color: rgb(91, 94, 96) !important;
  }
  .bgSelected {
    background-color: #A2A5A7 !important;
  }
}

.html {
  height: 100vh !important;
}

#demo:hover + #message{
  visibility: visible;

}

#message{
  visibility: hidden;
}

// Profil developer 

.developerProfilGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
}


// Fin CSS Profil developer 
