body {
  .marge{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2vh;
    margin-bottom: 5vh;
  }
  .myStep{
    min-width: 20% !important;
  }
  .ui.overlay {
    background-color: #ffffff;
    padding: 0em;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
  }
  /* change style */
  .ui.overlay.fixed {
    position: fixed;
    padding: 1em;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  }
}
