<div class="ui container">
    <div class="ui top attached tabular menu">
        <a class="item active" {{action "goToProjects"}}>
            Projects
        </a>
        <a class="item" {{action "goToDevelopers"}}>
            Developer
        </a>
    </div>
    <div class="ui bottom attached segment">
        {{outlet}}
    </div>
</div>