<div class="ui container segment">
    <button class="ui button primary" {{action "goToDevelopers"}}>Developer</button>
    <button class="ui button primary" {{action "goToProjects"}}>Projects</button>
    <br>
    {{outlet}}
</div>