{{outlet}}
<div class="ui grid">
    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="https://fomantic-ui.com/images/avatar2/large/kristy.png">
            </div>
            <div class="content">
                <a class="header">Theo Marie</a>
                <div class="meta">
                    <span class="date">NYTS</span>
                </div>
                <div class="description">
                    Développeur en plein combat contre la flemme !
                </div>
            </div>
            <div class="extra content">
                <button class="ui secondary button">
                    <i class="icon user"></i>
                    Follow
                </button>
                <button class="ui secondary button">
                    <i class="icon cog"></i>
                    Edit 
                </button>
            </div>
        </div>

    </div>
    <div class="six wide column">
        <div>
            <span class="ui large white text">List des projets</span>
        </div>
        <div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">
        Projet Ex4 todoList
      </div>
      <div class="meta">
       Start 12/03/2020 End 21/06/2020
      </div>
      <div class="description">
        Description en details du projet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ipsam facilis perferendis voluptatem amet ipsa minus a impedit! Neque fugiat non recusandae odio porro tenetur voluptates nemo quibusdam quam voluptatem.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">
        Jenny Hess
      </div>
      <div class="meta">
        New Member
      </div>
      <div class="description">
        Jenny wants to add you to the group <b>best friends</b>
      </div>
    </div>
  </div>
</div>
    </div>
</div>